@import "tailwindcss";
@import "./assets/icons/css/all.css";

:root { 
  font-size: 16px;
  --red-color: hsl(14, 86%, 42%);
  --green-color: hsl(159, 69%, 38%);
  --rose-50-color: hsl(20, 50%, 98%);
  --rose-100-color: hsl(13, 31%, 94%);
  --rose-300-color: hsl(14, 25%, 72%);
  --rose-400-color: hsl(7, 20%, 60%);
  --rose-500-color: hsl(12, 20%, 44%);
  --rose-900-color: hsl(14, 65%, 9%);
}

@font-face {
  font-family: 'red-hat-text';
  src: url(./assets/fonts/RedHatText-Regular.woff2) format('woff2');
  font-weight: 400, 600, 700;
}

@theme { 
  --font-RH: 'red-hat-text', sans-serif;

  --font-size-text: 1rem; 
  --color-primary: var(--red-color);
  --color-secondary: var(--green-color);
  --color-rose-50: var(--rose-50-color);
  --color-rose-100: var(--rose-100-color);
  --color-rose-300: var(--rose-300-color);
  --color-rose-400: var(--rose-400-color);
  --color-rose-500: var(--rose-500-color);
  --color-rose-900: var(--rose-900-color);
}

